<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Permanent+Marker&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/statement.css">
    <link rel="stylesheet" href="/nav.css">

    <title>Document</title>

</head>

<body>

    <nav>
        <a href="/" class="icon"><img src="realLogo.png" alt=""></a>
        <div class="dropdown">
            <button class="dropbtn">Sections</button>
            <div class="dropdown-content">
              <a href="/">Home</a>
              <a href="/statement">About Us</a>
            </div>
          </div>
        <ul id="sectionsUL">
            <li><a href="/">Home</a></li>
            <li><a href="/statement">About Us</a></li>
        </ul>
      </nav>

    <div class="panel">
        <div class="article">
        <h1>Under My Influence</h1>
            <h2>
            Influence is the power of control, the passion of pursuit, and the consistency of development.
            Our vision is to go beyond merchandise and multimedia. Rather than simply capture your investment,
            U.M.I seeks to forge a banner under which enthusiasts for content, music, and fashion can all gather.
            Our goal is to empower artistry, bringing creators and investors alike into a movement they can be proud to
            be a part of.
            Our mission is to inspire you to discover your individuality, and invite you to join a
            collective of souls seeking to elevate their creativity.
            <br><br>
            Whatever you make, however you express yourself, if it’s what you love – it’s under your influence.
            </h2>
        </div>
    </div>
</body>

</html>