
html{
    margin:0;
    padding:0;
    overflow-x:hidden;
}

.back{
    width:100vw;
    height:100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url(newest.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position:fixed;
    top:0; 
    z-index:-1;
}

body{
    margin:0;
    padding:0; 
    overflow-x:hidden;
}
.wrapper{
    overflow-x:hidden;
    position:relative;
}
/*nav{
    position:sticky;
    top:0;
    width:100vw;
    height:4rem;
    background-color: #4267B2;
    z-index:99;

}*/

.content{
    width:100vw;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x:hidden;
}
.contentHolder{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:5rem;
    overflow-x:hidden;
}
/*************** MUSIC CARD ***************/
.musicCard{
    width:15rem; 
    height:21.3rem; 
    background-color:#FFFFFF;
    border-radius:8px;
    box-shadow: 3px 6px 5px rgba(0,0,0,30%);
}

.musicTop{
    height:9%;
    /*display:flex;
    justify-content: space-between;*/
    display:flex;
    justify-content: center;
    gap:3rem;
}

.musicImage{
    width:90%;
    height:67%;
    margin-left:5%;
    background-color:#A9DCE3;
}

img{
    max-height:100%; width:100%; min-height:100%;
}

.musicDesc{
    margin-top:3%;
    margin-left:5%;
    /*height:11%;*/
    font-size: calc(0.5em + 0.8vmin);
    font-weight:500;
}

audio{
    height:10%;
    width:100%;
    background-color:#FFFFFF;
    border-radius:8px;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
background-color: #FFFFFF;
color: #FFFFFF;
border-radius:8px;

}
#prevButton{
    font-family: 'Montserrat', sans-serif;
    border:none;
    background-color:#FFF;
    border-radius:8px;
    margin-left:9%;
    font-size:calc(0.5em + 1vmin);
    font-weight:500; 
}

#nextButton{
    font-family: 'Montserrat', sans-serif;
    border:none; 
    background-color:#FFF;
    border-radius:8px;
    margin-right:9%;
    font-size:calc(0.5em + 1vmin);
    font-weight:500;

}
/*************** TITLE ***************/
h1{
    margin-top:17vh;
    font-size:calc(2em + 2.5vmin);
    text-align:center;
    color:white;
    font-family: 'Montserrat', sans-serif;
    text-shadow: white 1px 1px 1px;
    transition: all 0.3s linear; 
    cursor:default;
}

h1:hover{
    text-shadow: white 2px 2px;
    transform: translateY(-5px) scale(1.05)

}
/*************** CHAT BOX ***************/
.flexGroup{
    display:flex;
    gap:1rem;
}

.chatBox{
    width:17rem; 
    height:21.3rem; 
    background-color: white;
    border-radius: 8px;
    box-shadow: 1px 2px 2px rgba(0,0,0,30%);
}

.chatTop{
    width:100%;
    height:13%; 
    background-color: #1B7FA7;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size:calc(0.9em + 1vmin);
    color:white;

}

.chatTop section{
    margin-left:30px;
    padding-top:5px;
}

.chatMessages{
    width:100%;
    height:73%;
    overflow-y:scroll;
    border:none;

}

.singleMessage{
    width:100%;
    display:flex;
    flex-direction:row;
    margin-bottom:7px;
}

.chatUser{
    font-family: 'Montserrat', sans-serif;
    font-size:calc(0.3em + 1vmin);
    margin-left:5px;
    padding-right:5px;
    min-width:45%;
}

.chatContent{
    font-size:calc(0.3em + 1vmin);
}

.chatBottom{
    width:100%;
    height:14%;
    background-color:white;
    border-top: rgb(190, 190, 190) 2px solid;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    /*font-size:calc(0.7em + 1vmin);*/
    color:rgb(190, 190, 190);
}

.chatBottom input{
    width:100%;
    height:50%;
    border:0;
    line-height:90%;
    font-size:calc(0.4em + 1vmin);
    padding-left:3px;

}

.chatBottom form{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    border:1px white solid;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
/*
.chatBottom form button{
    display:none;
}
*/
#chatInput{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.chatBottom input::placeholder{
    color:rgb(120, 120, 120);
    font-size:calc(0.4em + 1vmin);
    padding-left:5px;
}

.linksHolder{
    align-self: center;
    display:flex;
    flex-direction: column;
    gap:10px;
}

.mobileContainer{
    display:none;
    justify-content: center;
    width:100%;
}

.mobileLinksHolder{
    margin-top:6vh;
    width:150px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
}

.mobileLinksHolder h2{
    display:block;
    text-align: center;
    color:white; 
    font-weight:800;
    width:100%;
    height:4rem;
}
#yeosoo{
    line-height:4rem;
}
.triangleFormatter{
    display:flex;
    flex-direction: row;
}

#scHolder{
    width:60px;
    height:60px;
}
#spotifyHolder{
    width:60px;
    height:60px;
}
#appleHolder{
    width:55px;
    height:55px;
}

#channelLink{
    margin-top:30vh;
    display:flex;
    flex-direction: row;
    display:flex;
    width:100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#channelLink section{
    color:white; 
    font-family: 'Montserrat', sans-serif;
    font-size:calc(1.8em + 2vmin);
    text-decoration: none !important;
    transition: all 0.1s linear;
}

#ytHolder{
    margin-top:1.5rem;
    margin-bottom:20vh;
    display:flex;
    flex-direction:row;
    width:100%;
    justify-content: center;
    gap:2rem;
    flex-wrap:wrap;
}

.vidHolder{
    display:inline-block;
    position:static;
    width:25rem; 
    height:14rem; 
}

iframe{
    display:inline-block;
    position: static;
    width:100%;
    height:100%;
}
#ytIcon{
    transition:all 0.1s linear;

}
#ytIcon:hover{
    transform: translateY(-5px) scale(1.05)

}
a{
    text-decoration: none;
}
#scHolder{
    transition:all 0.1s linear;
}
#scHolder:hover{
    transform: translateY(-5px) scale(1.05)
}
#spotifyHolder{
    transition:all 0.1s linear;
}
#spotifyHolder:hover{
    transform: translateY(-5px) scale(1.05)
}
#appleHolder{
    transition:all 0.1s linear;
}
#appleHolder:hover{
    transform: translateY(-5px) scale(1.05)
}

@media (max-width:815px){
    .content h1{display:none;}
    .contentHolder{
        margin-top:20vh;
    }
    .linksHolder{
        display:none;
    }
    .mobileContainer{
        display:flex;
        gap:2rem;
    }

    #channelLink section{
        font-size:calc(1.5em + 1vmin);
        
    }
    .chatBox{
        width: 13rem; 
        height:16rem; 
    }
    .musicCard{
        width:13rem; 
        height:16rem; 
    }
    .musicImage{
        height:60%;
    }
}

@media(max-width:700px) {
    .chatBox{
        width:11rem; 
        height:15.5rem; 
    }
    .musicCard{
        width:11rem; 
        height:15.5rem; 
    }
}
