body{
    margin:0;
    padding:0; 
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url(progClientBG.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

/*nav{
    position:sticky;
    top:0;
    width:100vw;
    height:4rem;
    background-color: #4267B2;
    z-index:99;

}*/

.content{
    width:100vw;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

#firstPanel{
   /* background: linear-gradient(90deg, #A9DCE3 32%, #7689DE 0);*/
   /*background: url(clientBG.png) no-repeat center center fixed; */
}

/*************** MUSIC CARD ***************/
.musicCard{
    margin-top:8vh;
    margin-left:80vw;
    width:15rem; 
    height:21.3rem; 
    background-color:#FFFFFF;
    border-radius:8px;
    box-shadow: 3px 6px 5px rgba(0,0,0,30%);
}

.musicTop{
    height:9%;
}

.musicImage{
    width:90%;
    height:67%;
    margin-left:5%;
    background-color:#A9DCE3;
}

img{
    max-height:100%; width:100%; min-height:100%;
}

.musicDesc{
    margin-top:3%;
    margin-left:5%;
    /*height:11%;*/
    font-size: calc(0.5em + 0.8vmin);

}

audio{
    height:10%;
    width:100%;
    background-color:#FFFFFF;
    border-radius:8px;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
background-color: #FFFFFF;
color: #FFFFFF;
border-radius:8px;

}
/*************** TITLE ***************/
h1{
    position:absolute;
    margin-top:37vh;
    font-size:calc(2em + 2.5vmin);
    text-align:center;
    color:white;
    font-family: 'Montserrat', sans-serif;
    align-self:center;
    text-shadow: white 1px 1px 1px;
}

/*************** CHAT BOX ***************/

.chatBox{
    width:17rem; 
    height:21.3rem; 
    background-color: white;
    margin-left:49px;
    border-radius: 8px;
    box-shadow: 1px 2px 2px rgba(0,0,0,30%);
}

.chatTop{
    width:100%;
    height:13%; 
    background-color: #7689DE;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size:calc(0.9em + 1vmin);
    color:white;

}

.chatTop section{
    margin-left:30px;
    padding-top:5px;
}

.chatMessages{
    width:100%;
    height:73%;
    overflow:scroll;
}

.singleMessage{
    width:100%;
    display:flex;
    flex-direction:row;
    margin-bottom:7px;
}

.chatUser{
    font-family: 'Montserrat', sans-serif;
    font-size:calc(0.3em + 1vmin);
    margin-left:5px;
    padding-right:5px;
    min-width:45%;
}

.chatContent{
    font-size:calc(0.3em + 1vmin);
}

.chatBottom{
    width:100%;
    height:14%;
    background-color:white;
    border-top: rgb(190, 190, 190) 2px solid;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size:calc(0.7em + 1vmin);
    color:rgb(190, 190, 190);
}

.chatBottom input{
    width:100%;
    height:50%;
    border:0;
    border-radius:8px;
    font-size:calc(0.4em + 1vmin);
    padding-left:3px;

}

.chatBottom form{
    width:100%;
    height:100%;
    border:0;
    border-radius:8px;
    display:flex;
    flex-direction: column;
}
/*
.chatBottom form button{
    display:none;
}
*/

.chatBottom input::placeholder{
    color:rgb(120, 120, 120);
    font-size:calc(0.4em + 1vmin);
    padding-left:5px;
}

.channelHolder{
    height:80vh;
    width:100vw;
}

.linksHolder{
    position:absolute;
    bottom:1rem;
    align-self: center;
    display:flex;
    gap:10px;
}
#scHolder{
    width:60px;
    height:60px;
}
#spotifyHolder{
    width:60px;
    height:60px;
}
#appleHolder{
    width:55px;
    height:55px;
}

@media (max-width:970px) {
    .musicCard{
        width:11rem;
        height:15.5rem;
    }

    .musicDesc{
        line-height:1.2;
        font-size: calc(0.4em + 0.8vmin);
    }
}

@media (max-width:970px) {
    h1{
        margin-top:42vh;
        font-size:calc(1.5em + 2.5vmin);

    }
    .content{
        align-items: center;
    }
    .musicCard{
        margin-left:auto;
        margin-right:0.5rem;
    }
    .chatBox{
        position:absolute;
        width:11rem;
        height:16rem;
        /*margin-left:0;
        padding-left:0;*/
        align-self:flex-start;
        margin-top:57vh;
        margin-left:10px;
    }
}

@media (max-width:680px) {
    .musicCard{
        width:9rem;
        height:13rem;    
    }
    audio{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    audio::-webkit-media-controls-play-button,
    audio::-webkit-media-controls-panel {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .chatBox{
        width:10rem;
        height:14rem;
    }
    #scHolder{
        width:40px;
        height:40px;
    }
    #spotifyHolder{
        width:40px;
        height:40px;
    }
    #appleHolder{
        width:40px;
        height:40px;
    }
}
