.back{
    width:100vw;
    height:100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url(newest.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position:fixed;
    top:0; 
    z-index:-1;
}

body{
    margin:0;
    padding:0;
}

.panel{
    width:100%;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    align-items: center;

}

h1{
    text-align: center;
    margin-top:20vh;
    color:white;
    font-size:calc(1.5em + 2vmin);
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size:calc(1.1em + 1vmin);
    color:white;
    width:60vw;
}

img{
    max-height:100%; width:100%; min-height:100%;
}

@media (max-width:970px) {
    h2{
        font-size:calc(0.7em + 1vmin);
        width:80vw;
    }

}

@media (max-width:970px) {

    
}
@media (max-width:680px) {
h2{
    text-align: center;
}
}